body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

.blue {
  color: #464599;
}

.bg_blue {
  background-color: #464599;
}

.light_blue {
  color: #36bee2;
}

.bg_lightblue {
  background-color: #36bee2;
}

.yellow {
  color: #efd97b;
}
.bg_yellow {
  background-color: #efd97b;
}

.green {
  color: #5ac2b2;
}

.bg_green {
  background-color: #5ac2b2;
}

.khaki {
  color: #f8c185;
}

.bg_khaki {
  background-color: #f8c185;
}

h1 {
  font-weight: 800;
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 600;
}

.mt100 {
  margin-top: 100px;
}

.btn a {
  color: white;
  text-decoration: none;
}

/* component */
.component {
  width: 750px;
  margin: 10 auto;
  padding: 3rem;
}

.component blockquote.quote {
  position: relative;
  text-align: center;
  padding: 1rem 1.2rem;
  width: 80%; /* create space for the quotes */
  color: #484748;
  margin: 1rem auto 2rem;
}
.component blockquote.EN {
  background: linear-gradient(to right, #000000 4px, transparent 4px) 0 100%,
    linear-gradient(to left, #000000 4px, transparent 4px) 100% 0,
    linear-gradient(to bottom, #000000 4px, transparent 4px) 100% 0,
    linear-gradient(to top, #000000 4px, transparent 4px) 0 100%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

/* sfalmlda */
.component blockquote.quote:before,
.component blockquote.quote:after {
  font-family: FontAwesome;
  position: absolute;
  color: #000000;
  font-size: 34px;
}

.component blockquote.EN:before {
  content: "\f10d";
  top: -12px;
  margin-right: -20px;
  right: 100%;
}
.component blockquote.EN:after {
  content: "\f10e";
  margin-left: -20px;
  left: 100%;
  top: auto;
  bottom: -20px;
}
/* asndfklas */

/* end component */

/* 
 */

#halaman_1 {
  margin-top: 20px;
}

#halaman_1 h1 {
  font-style: italic;
  color: rgb(0, 0, 0);
  font-weight: 800px;
  padding: 20px;
  border-radius: 20px;
  width: 750px;
  margin: auto;
}

#halaman_1 img {
  max-width: 180px;
}

#halaman_2 .portfolio {
  background-color: #464599;
  padding: 10px;
  max-width: 720px;
  margin: auto;
}

#halaman_2 .portfolio img {
  margin: auto;
  max-width: 360px;
}

#halaman_2 h1 {
  font-style: italic;
}

#halaman_3 h1 {
  font-style: italic;
}

#halaman_3 p {
  font-size: 20px;
  text-align: left;
}

#halaman_3 img {
  width: 450px;
}

.box {
  max-width: 720px;
  margin: auto;
}

#halaman_4 ul {
  list-style-position: inside;
  font-size: 24px;
  list-style-type: "⬛️ ";
  padding: 10px;
}

#halaman_5 p {
  font-size: 14px;
  text-align: left;
}

#halaman_6 ul {
  list-style-position: inside;
  font-size: 24px;
  list-style-type: "⬛ ";
  padding: 10px;
}

#halaman_6 p {
  font-size: 18px;
}

#halaman_6 .card img {
  width: 120px;
}
#halaman_6 .card {
  border-radius: 50px;
  margin: 10px;
}

#halaman_7 ul {
  list-style: none; /* Remove HTML bullets */
  padding: 0;
  margin: 0;
  font-size: 18px;
}

#halaman_7 li {
  padding-left: 16px;
  padding-bottom: 10px;
}

#halaman_7 li:before {
  list-style-position: inside;
  font-size: 24px;
  font-weight: 700;
  content: " \221A";
  margin-right: 20px;
  padding: 10px;
  color: #f8c185; /* Or a color you prefer */
}

#halaman_7 img {
  width: 300px;
}

#halaman_8 ol {
  list-style-position: inside;
  font-size: 18px;
  padding: 10px;
}

#halaman_9 ol {
  list-style-position: inside;
  font-size: 18px;
  padding: 10px;
  text-align: start;
}

#halaman_9 li {
  padding-top: 10px;
}
#halaman_9 img {
  width: 550px;
}

#halaman_10 .bor {
  border-style: solid;
  list-style-position: inside;
  font-size: 14px;
  max-width: 380px;
  margin: auto;
}

#halaman_10 .bor h3 {
  font-size: 18px;
}

#halaman_10 .bor li {
  text-align: left;
}

#halaman_10 .btn {
  text-align: center;
}

#halaman_13 ul {
  list-style-position: inside;
  font-size: 18px;
  list-style-type: "⬛ ";
  padding: 10px;
  text-align: left;
}
#halaman_13 img {
  margin: auto;
  max-width: 360px;
  padding-bottom: 20px;
}

#halaman_14 p {
  font-size: 24px;
  margin-top: 10px;
}

#halaman_14 .bor {
  border-style: solid;
  list-style-position: inside;
  font-size: 24px;
  max-width: 380px;
  margin: auto;
}

#halaman_17 li {
  list-style-position: inside;
  font-size: 24px;
  list-style-type: "⬛ ";
  padding: 10px;
}

#halaman_18 {
  margin-bottom: 100px;
}

#halaman_18 img {
  width: 450px;
}
